# OS
.DS_Store

# IDEs
.idea/
*.iml

# Node / Frontend
node_modules/
build/
dist/
.npm
npm-debug.log
yarn-error.log

# Java / Backend
target/
*.class
*.jar
*.war
*.ear
.mvn/
!mvnw
!mvnw.cmd

# Environment variables
.env
.env.local
.env.*.local
